.home-header {
  text-align: center;
}

.home-header h2 {
  color: #f1c232;
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  color: #f1c232;
  margin-bottom: 1rem;
}

.home-header h1 span {
  color: #b0c4de;
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}

.blog-title{
  font-size: 50px;
  font-weight: 500;
}
@media screen and (max-width: 780px) {
  .blog-title{
    font-size: 34px;
    font-weight: 400;
  }
}