.frame-child27 {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: fit-content;
  height: 704.25px;
  background-size: cover;
  background-position: center;
}
.unleash-the-power {
  margin: 0;
  font-size: 48px;
}
.unleash-the-power-container {
  position: relative;
  line-height: 60px;
  font-weight: 600;
  color: var(--primar-yellow);
  display: flex;
  width: 621.75px;
  height: auto;
  flex-shrink: 0;
}
.twinmo-is-revolutionizing {
  position: relative;
  font-weight: 500;
  display: flex;
  width: 587.25px;
}
.button-type-216 {
  border-radius: 3.75px;
  background-color: var(--primar-yellow);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs-5) var(--padding-mini);
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-mini);
  color: var(--mini-title-bg);
}
.unleash-the-power-of-ai-based-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 22.5px;
}
.frame-child29 {
  position: relative;
  width: 590px;
  height: 480px;
  object-fit: cover;
}
.frame-parent38 {
  position: absolute;
  /* top: calc(50% - 259.5px);
  left: calc(50% - 601px); */
  top: 75.75px;
  width: 1157.25px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  /* align-items: center; */
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.vector-parent3 {
  position: absolute;
  top: 83.5px;
  /* left: calc(50% - 670px); */
  width: 100vw;
  height: 704.25px;
  font-size: var(--paragraph-style-1-size);
}
.the-power-of,
.transform-the-way {
  position: relative;
  display: inline-block;
  width: 423px;
}
.transform-the-way {
  font-size: var(--paragraph-style-1-size);
  font-weight: 500;
  color: var(--paragraph-color);
  width: 419px;
}
.the-power-of-rapid-experimenta-parent {
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.confident-teacher-explaining-l-icon {
  position: absolute;
  top: -37.5px;
  left: -37.5px;
  border-radius: var(--br-mini);
  width: 603.75px;
  height: 428.31px;
  object-fit: cover;
}
.confident-teacher-explaining-l-wrapper {
  position: relative;
  width: 528.75px;
  height: 353.31px;
}
.frame-parent39 {
  top: 1464.06px;
  left: calc(50% - 595px);
  width: 1051px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-84xl-5);
}
.frame-child30,
.frame-parent39,
.frame-parent40 {
  position: absolute;
  background-color: var(--mini-title-bg);
}
.frame-parent40 {
  top: 910.75px;
  left: calc(50% - 595px);
  width: 1051px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-84xl-5);
}
.frame-child30 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 529px;
  height: 353px;
}
.screenshot-2023-06-27-at-447-icon {
  position: absolute;
  top: calc(50% - 108.65px);
  left: calc(50% - 83.07px);
  width: 194.77px;
  height: 261.42px;
  object-fit: cover;
}
.mockup-screen-removebg-preview-icon {
  position: absolute;
  top: calc(50% + 41.5px);
  left: calc(50% - 252.5px);
  width: 154px;
  height: 111px;
  object-fit: cover;
}
.pngwing-1-icon {
  position: absolute;
  top: 167px;
  left: 378px;
  width: 151px;
  height: 168px;
  object-fit: cover;
}
.rectangle-parent9 {
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  width: 529px;
  height: 353px;
}
.vertically-integrated-solution,
.weve-taken-the {
  position: relative;
}
.weve-taken-the {
  font-size: var(--paragraph-style-1-size);
  font-weight: 500;
  color: var(--paragraph-color);
  display: inline-block;
  width: 426px;
}
.frame-parent41,
.vertically-integrated-solution-parent {
  width: 426px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frame-parent41 {
  position: absolute;
  top: 2017.37px;
  left: calc(50% - 600px);
  background-color: var(--mini-title-bg);
  width: 1108px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-84xl-5);
}
.key-features1 {
  position: relative;
  font-weight: 600;
}
.key-features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.charmcircle-tick-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.predefined-test-procedure {
  position: relative;
  font-weight: 500;
}
.charmcircle-tick-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-parent44 {
  flex-direction: column;
  gap: var(--gap-3xs);
  font-size: var(--paragraph-style-1-size);
  color: var(--paragraph-color);
}
.frame-parent43,
.frame-parent44,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent43 {
  flex-direction: column;
  gap: 22px;
}
.frame-wrapper {
  flex-direction: row;
}
.embrace-the-future-container {
  position: relative;
  font-size: var(--paragraph-style-1-size);
  font-weight: 500;
  color: var(--paragraph-color);
  display: inline-block;
  width: f;
}
.frame-parent42 {
  position: absolute;
  top: 2570.68px;
  left: calc(50% - 600px);
  background-color: var(--mini-title-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  font-size: var(--font-size-12xl-5);
}
.home-wrapper3,
.twinmo-wrapper3 {
  flex-direction: row;
  padding: 8.126410484313965px;
}
.twinmo-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-wrapper3 {
  cursor: pointer;
}
.contact-wrapper3,
.frame-parent45,
.frame-parent46,
.home-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent46 {
  flex-direction: column;
  gap: 3.25px;
  font-size: var(--paragraph-style-1-size);
  color: var(--paragraph-color);
}
.contact-wrapper3,
.frame-parent45 {
  font-size: var(--font-size-lgi-5);
}
.frame-parent45 {
  position: absolute;
  top: 0;
  left: 522px;
  flex-direction: column;
  gap: 12.19px;
}
.contact-wrapper3 {
  flex-direction: row;
  padding: 8.126410484313965px;
  color: var(--color-black);
}
.twinmo-ay-1105 {
  position: relative;
  display: inline-block;
  width: 204.79px;
  flex-shrink: 0;
}
.frame-parent47 {
  position: absolute;
  top: 1px;
  left: 755px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.13px;
  color: var(--paragraph-color);
}
.image-19-icon5 {
  position: absolute;
  top: 0;
  left: 110.52px;
  width: 19.5px;
  height: 19.5px;
  object-fit: cover;
}
.image-17-icon5,
.image-18-icon5,
.image-20-icon5 {
  position: absolute;
  top: 1.63px;
  left: 0;
  width: 19.5px;
  height: 16.25px;
  object-fit: cover;
}
.image-18-icon5,
.image-20-icon5 {
  top: 0;
  left: 55.26px;
  height: 19.5px;
}
.image-20-icon5 {
  left: 165.78px;
}
.image-19-parent3 {
  position: absolute;
  top: 66px;
  left: 1100px;
  width: 185.28px;
  height: 19.5px;
}
.footer-child2 {
  position: absolute;
  top: 346.25px;
  left: calc(50% - 703.83px);
  border-top: 0.8px solid var(--color-black);
  box-sizing: border-box;
  width: 1407.66px;
  height: 0.81px;
}
.image-9-icon10 {
  position: absolute;
  top: 8.13px;
  left: 33.32px;
  width: 282.8px;
  height: 95.08px;
  object-fit: cover;
}
.twinmo-inc-all5 {
  position: absolute;
  top: 356px;
  left: calc(50% - 682.3px);
  color: var(--color-gray-300);
}
.footer5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1406.85px;
  height: 380px;
}
.privacy-policy5 {
  position: relative;
  display: inline-block;
  width: 120.23px;
  flex-shrink: 0;
  cursor: pointer;
}
.cookie-policy5,
.terms-of-service5 {
  position: relative;
  display: inline-block;
  width: 144.9px;
  flex-shrink: 0;
}
.cookie-policy5 {
  width: 108.93px;
  cursor: pointer;
}
.privacy-policy-parent3 {
  position: absolute;
  top: 356px;
  left: 900px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  color: var(--color-gray-300);
}
.footerdefault5,
.header-child3 {
  position: absolute;
  background-color: var(--mini-title-bg);
}
.footerdefault5 { 
  bottom: -0.32px;
  left: calc(50% - 670px);
  width: 1407.49px;
  height: 393.32px;
  font-size: var(--paragraph-style-1-size);
  color: var(--color-black);
}
.header-child3 {
  top: 0px;
  left: 0;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  width: 1440px;
  height: 89px;
}
.image-9-icon11 {
  position: relative;
  width: 150px;
  height: 50.43px;
  object-fit: cover;
  cursor: pointer;
}
.button-hover-line-parent3,
.button-hover-line25,
.image-9-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-hover-line25 {
  padding: var(--padding-3xs);
}
.button-hover-line-parent3,
.image-9-parent3 {
  gap: var(--gap-21xl);
}
.image-9-parent3 {
  position: absolute;
  top: 22px;
  left: 43px;
  align-items: center;
  gap: var(--gap-81xl);
}
.header5 {
  position: absolute;
  /* left: calc(50% - 670px); */
  display: flex;
  top: 0;
  width: 100vw;
  height: 89px;
  font-size: var(--font-size-mini);
}
.landing-page {
  position: relative;
  background-color: var(--mini-title-bg);
  width: 100vw;
  height: 3551px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--heading-color);
  font-family: var(--h3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.active {
  text-decoration: underline;
}
@media (max-width: 700px) {
  .frame-child29 {
    display: none;
  }
  .frame-parent38 {
    left: 10px;
    width: 100vw;
  }
  .unleash-the-power{
    position: absolute;
    width: 100vw;
  }
  .twinmo-is-revolutionizing {
    font-weight: 500;
    top: 220px;
    position: relative;
    width: 100vw;
  }
}