.privacyAndPolicy{
  width: 100%;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}
.list li{
  list-style: disc;
}
.privacy-title{
  font-size: 38px;
}