.resourcepage {
  width: 100%;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}
/* Row 1 col- 1 & 2*/
.row-61 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap-21xl);
  margin-bottom: 100px;
}
.col-61 {
  flex-basis: 10%;
  position: relative;
  margin-left: 30px 0;
}
.col-61 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #f1c232;
}
.col-61 h2 {
  font-weight: 500;
  display: flex;
  width: 590px;
  font-size: 16px;
  text-align: justify;
}
.col-62 {
  position: relative;
  flex-basis: 10%;
  display: flex;
  align-items: center;
}
.product61 {
  width: 550px;
}

/* Row 2 col- 3 & 4*/
.row-62 {
  justify-content: space-around;
  align-items: center;
  gap: var(--gap-21xl);
  margin-bottom: 100px;
}
.col-63 {
  flex-basis: 10%;
  position: relative;
  margin-left: 30px 0;
}
.col-64 h4 {
  font-weight: 100;
  font-size: 16px;
}
.col-63 h4 {
  font-weight: 100;
  font-size: 16px;
  text-align: justify;
}
.col-64 {
  flex-basis: 10%;
  position: relative;
  margin-left: 30px 0;
}
.product62 {
  width: 60px;
}
.product63 {
  width: 60px;
}

.huge-iconinterfacebulkpaint {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.huge-iconinterfacebulkpaint-wrapper {
  border-radius: var(--br-5xs-5);
  background-color: var(--primar-yellow);
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
}
.title-resource{
  font-size: 32px;
}
.huge-iconinterfacebulkshiel {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.huge-iconinterfacebulkshiel-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Mobile view */
@media only screen and (max-width: 780px) {
  .row-61 {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-62 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-62 .product61 {
    width: 100%;
  }
  .col-61 {
    flex-basis: 100%;
  }
  .col-61 h1 {
    font-weight: 100;
    font-size: 34px;
  }
  .col-61 h2 {
    font-weight: 200;
    width: 100%;
    font-size: 16px;
  }
  .row-62 {
    flex-direction: column;
    margin: 50px 0;
  }
  .col-64 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-64 .product63 {
    width: 50px;
  }
  .col-63 .product62 {
    width: 50px;
  }
  .col-63 {
    flex-basis: 100%;
  }
  .col-63 h4 {
    font-weight: 200;
    width: 100%;
    font-size: 14px;
  }
  .col-64 h4 {
    font-weight: 200;
    width: 100%;
    font-size: 14px;
  }
  .resourcepage .title-resource{
    font-size: 16px;
  }
}

