.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 704.25px;
}
.customized-support-for {
  position: relative;
  font-size: var(--h1-size);
  line-height: 52.5px;
  font-weight: 600;
  display: inline-block;
  width: 587.25px;
}
.blank-line {
  margin: 0;
}
.we-understand-the-container {
  color: var(--color-gray-200);
  display: inline-block;
  width: 616.5px;
}
.button9,
.we-understand-the-container {
  position: relative;
  font-weight: 500;
}
.button-type-24 {
  border-radius: 3.75px;
  background-color: var(--primar-yellow);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs-5) var(--padding-mini);
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--mini-title-bg);
}
.customized-support-for-your-pr-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs-5);
}
.group-icon {
  position: relative;
  width: 652.5px;
  height: 574.5px;
  object-fit: cover;
}
.frame-parent9 {
  position: absolute;
  top: 75.75px;
  left: 127.13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.vector-group {
  position: absolute;
  top: 65.25px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 704.25px;
  color: var(--primar-yellow);
}
.interested-to-talk {
  position: relative;
}
.interested-to-talk-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs-5);
  align-items: center;
  justify-content: center;
}
.achieve-your-most {
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--paragraph-color);
  text-align: center;
  display: inline-block;
  width: 852px;
}
.frame-parent10,
.services-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-parent10 {
  justify-content: center;
  gap: var(--gap-mini);
}
.services-inner {
  position: absolute;
  top: 869.5px;
  left: calc(50% - 426px);
  justify-content: flex-start;
  font-size: var(--h3-size);
  color: var(--heading-color);
}
.base-input-rounded-not-sel {
  position: absolute;
  width: 100%;
  top: calc(50% - 23px);
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--mini-title-bg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  height: 46px;
}
.input-items-group,
.input-items-group-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input-items-group {
  width: 225px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.input-items-group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
}
.div,
.title {
  position: relative;
  font-weight: 600;
}
.div {
  font-family: var(--font-inter);
  color: var(--primar-yellow);
}
.mini-title-contaier {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: var(--br-11xl);
  background-color: var(--mini-title-bg);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-xs);
  color: var(--mini-title);
  font-family: var(--h3);
}
.input-section {
  align-self: stretch;
  position: relative;
  height: 46px;
}
.input,
.input-title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-title-section {
  align-self: stretch;
}
.input {
  flex: 1;
}
.mini-title-contaier1 {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: var(--br-11xl);
  background-color: var(--mini-title-bg);
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  gap: var(--gap-10xs);
  font-size: var(--font-size-xs);
  color: var(--mini-title);
}
.input-parent,
.input1,
.mini-title-contaier1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  flex: 1;
  flex-direction: column;
  font-family: var(--h3);
}
.input-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
  font-family: var(--font-inter);
}
.base-input-rounded-not-sel2 {
  position: absolute;
  width: 100%;
  top: calc(50% - 23px);
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--mini-title-bg);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  height: 46px;
}
.div2 {
  position: relative;
  font-weight: 600;
  color: var(--primar-yellow);
}
.mini-title-contaier2 {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: var(--br-11xl);
  background-color: var(--mini-title-bg);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-xs);
  color: var(--mini-title);
  font-family: var(--font-inter);
}
.icon-duotone-envelope {
  position: relative;
  width: 18px;
  height: 18px;
}
.input-right-section {
  position: absolute;
  top: calc(50% - 9px);
  right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.input2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-slategray);
}
.image-37-icon {
  position: relative;
  border-radius: 2px;
  width: 23.51px;
  height: 16px;
  object-fit: cover;
}
.icon-storke-caretdown {
  position: relative;
  width: 16px;
  height: 16px;
}
.flag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.placeholder3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--h3);
  color: var(--paragraph-color);
}
.input-items-group3 {
  width: 225px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mini-title-contaier3 {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: var(--br-11xl);
  background-color: var(--mini-title-bg);
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--mini-title);
  font-family: var(--h3);
}
.flag-container1,
.input3,
.mini-title-contaier3 {
  display: flex;
  justify-content: flex-start;
}
.input3 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
.flag-container1 {
  flex-direction: row;
  align-items: center;
}
.base-input-rounded-not-sel5,
.mini-title-contaier4 {
  position: absolute;
  background-color: var(--mini-title-bg);
}
.mini-title-contaier4 {
  top: -7px;
  left: 12.15px;
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--mini-title);
}
.base-input-rounded-not-sel5 {
  height: calc(100% + 104px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -104px;
  left: 0;
  border-radius: var(--br-5xs);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
}
.input-items-group5 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 16px;
  width: 225px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input5 {
  height: 150px;
  align-items: flex-start;
}
.form,
.input-group,
.input5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-group {
  align-items: flex-start;
  gap: var(--gap-6xl);
}
.form {
  align-items: center;
}
.enter {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.button10 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--primar-yellow);
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-41xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  color: var(--mini-title-bg);
}
.contact-form,
.header-item {
  position: absolute;
  background-color: var(--mini-title-bg);
}
.contact-form {
  top: 1018px;
  left: calc(50% - 426px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
  width: 852px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-41xl);
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  font-size: var(--font-size-sm);
  color: var(--paragraph-color);
}
.header-item {
  top: 0px;
  left: 0;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  width: 1440px;
  height: 89px;
}
.image-9-icon2 {
  position: relative;
  width: 150px;
  height: 50.43px;
  object-fit: cover;
  cursor: pointer;
}
.button-hover-line-group,
.button-hover-line5,
.image-9-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-hover-line5 {
  padding: var(--padding-3xs);
}
.button-hover-line-group,
.image-9-group {
  gap: var(--gap-21xl);
}
.image-9-group {
  position: absolute;
  top: 22px;
  left: 43px;
  align-items: center;
  gap: var(--gap-81xl);
}
.header1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 719px);
  width: 1440px;
  height: 89px;
}
.home-container,
.twinmo-container {
  flex-direction: row;
  padding: 8.126410484313965px;
}
.twinmo-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container {
  cursor: pointer;
}
.contact-container,
.frame-parent11,
.frame-parent12,
.home-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  flex-direction: column;
  gap: 3.25px;
  font-size: var(--paragraph-style-1-size);
  color: var(--paragraph-color);
}
.contact-container,
.frame-parent11 {
  font-size: var(--font-size-lgi-5);
}
.frame-parent11 {
  position: absolute;
  top: 0;
  left: 522px;
  flex-direction: column;
  gap: 12.19px;
}
.contact-container {
  flex-direction: row;
  padding: 8.126410484313965px;
  color: var(--color-black);
}
.twinmo-ay-1101 {
  position: relative;
  display: inline-block;
  width: 204.79px;
  flex-shrink: 0;
}
.frame-parent13 {
  position: absolute;
  top: 1px;
  left: 755px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.13px;
  color: var(--paragraph-color);
}
.image-19-icon1 {
  position: absolute;
  top: 0;
  left: 110.52px;
  width: 19.5px;
  height: 19.5px;
  object-fit: cover;
}
.image-17-icon1,
.image-18-icon1,
.image-20-icon1 {
  position: absolute;
  top: 1.63px;
  left: 0;
  width: 19.5px;
  height: 16.25px;
  object-fit: cover;
}
.image-18-icon1,
.image-20-icon1 {
  top: 0;
  left: 55.26px;
  height: 19.5px;
}
.image-20-icon1 {
  left: 165.78px;
}
.image-19-group {
  position: absolute;
  top: 66px;
  left: 1137px;
  width: 185.28px;
  height: 19.5px;
}
.footer-item {
  position: absolute;
  top: 346.25px;
  left: calc(50% - 703.83px);
  border-top: 0.8px solid var(--color-black);
  box-sizing: border-box;
  width: 1407.66px;
  height: 0.81px;
}
.image-9-icon3 {
  position: absolute;
  top: 8.13px;
  left: 33.32px;
  width: 282.8px;
  height: 95.08px;
  object-fit: cover;
}
.twinmo-inc-all1 {
  position: absolute;
  top: 356px;
  left: calc(50% - 682.3px);
  color: var(--color-gray-300);
}
.footer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1406.85px;
  height: 380px;
}
.privacy-policy1 {
  position: relative;
  display: inline-block;
  width: 120.23px;
  flex-shrink: 0;
  cursor: pointer;
}
.cookie-policy1,
.terms-of-service1 {
  position: relative;
  display: inline-block;
  width: 144.9px;
  flex-shrink: 0;
}
.cookie-policy1 {
  width: 108.93px;
  cursor: pointer;
}
.privacy-policy-group {
  position: absolute;
  top: 356px;
  left: 1004.15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  color: var(--color-gray-300);
}
.footerdefault1,
.services1 {
  background-color: var(--mini-title-bg);
}
.footerdefault1 {
  position: absolute;
  bottom: -0.32px;
  left: calc(50% - 704px);
  width: 1407.49px;
  height: 393.32px;
  font-size: var(--paragraph-style-1-size);
}
.services1 {
  position: relative;
  width: 100%;
  height: 2110px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--h3);
}
